@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.calendar {
  justify-content: center;
  align-items: center;
}

.calendar-container {
  height: auto;
  width: 600px;
  background-color: rgba(16 18 27 / 60%);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  padding: 20px 20px;
}

.calendar-week {
  display: flex;
  list-style: none;
  align-items: center;
  padding-inline-start: 0px;
}
.calendar-week-day {
  max-width: 100%;
  width: 100%;
  text-align: center;
  color: gold;
}
.calendar-days {
  margin-top: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding-inline-start: 0px;
}

.calendar-day {
  text-align: center;
  color: white;
  padding: 10px;
}

.calendar-month-arrow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-month-year-container {
  padding: 10px 10px 20px 10px;
  color: #525659;
  cursor: pointer;
}

.calendar-arrow-container {
  margin-top: -5px;
}

.calendar-left-arrow,
.calendar-right-arrow {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: gold;
  background-color: black;
}

.calendar-today-button {
  margin-top: -10px;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #525659;
  padding: 5px 10px;
}

.calendar-today-button {
  height: 27px;
  margin-right: 10px;
  background-color: black;
  color: white;
}

.calendar-months,
.calendar-years {
  flex: 1;
  border-radius: 10px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 15px;
  background-color: black;
}

.calendar-day-active {
  background-color: black;
  color: white;
  border-radius: 50px;
}

li.calendar-day:hover {
  background-color: black;
  border-radius: 50px;
}
